<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="static/css/P7.css" />
        <title>GrandPyBot</title>
    </head>

    <body>
        <div id="global">
            <header>
                <img src="static/img/logo_python.png" alt="logo python png" id="logo_python" /> 
                <div id="catchphrase">Effectuez la recherche d'un lieu avec GrandPy !</div>
            </header>

            <div id="main">

                <div id="userform">
                    <form id="grandpy_form" method="POST">
                            <label for="form_input" id="form_label"></label>
                            <input type="text" name="form_input" id="form_input" placeholder="Posez votre question à GrandPy !"/>
                            <input id="submit_button" type="submit" value="Envoyer"/>
                            
                </div>

                <div id="grandpy">
                    <div id="answer"></div>
                    <div id="story"></div>
                </div>
                
                <div id="map_area">
                    <div id="map"></div>
                </div>

            </div>
            
            <footer>
                <div id="dev_name">Amaury Bois</div>
                <a href="https://github.com"><img src="static/img/logo_github.png" alt="logo github png" id="logo_github" /></a>
                <a href="https://github.com/Awoodz/Projet7" id="url_github">https://github.com/Awoodz/Projet7</a>
            </footer>
        </div>

        <script src="static/js/userform.js"></script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtqp7WWuiQMyG-Z0HvGs-8qfdXsC6otx8&callback=initMap">
        </script>
    </body>
</html>