header
{
    background-color: darkcyan;
    min-height: 10em;
    position: absolute; top: 0; left: 0; right: 0;
    vertical-align: baseline;
}

.logo_python
{
    width: 8em;
    height: 8em;
    float: left;
    position: relative; left: 1em;
}

.catchphrase
{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

footer
{
    background-color: darkcyan;
    min-height: 10em;
    position: absolute; bottom: 0; left: 0; right: 0;
    text-align: center;
}

.logo_github
{
    width: 2em;
    height: 2em;
}

.url_github
{
    font-size: 2em;
    line-height: 4em;
}

