body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

#global
{
    width :100% ;
    margin :auto ;
    padding :0px ;
}

header, footer
{
    background-color: teal;
    width: 100%;
    text-align: center;
    position: fixed;
    height: 10em;
    display: table;
}

#main
{
    padding-top: 10em;
}


#userform
{
    float: right;
    width: 100%;
    text-align: center;
}


#answer
{
    font-weight: bold;
    font-size: 2em;
}

#story
{
    font-size: 2em;
}

footer
{
    float: right;
    position: fixed;
    bottom: 0;
}

@media(max-width: 767px)
{
    #grandpy
    {
        width: 100%;
    }

    #map_area
    {
        width: 100%;
    }

    body
    {
        zoom: 100%;
    }
}

@media(min-width: 1366px)
{
    #grandpy
    {
        width: 50%;
        float: left;
    }

    #map_area
    {
        width: 50%;
        float: left;
    }

    body
    {
        zoom: 75%;
    }
}

#catchphrase, #dev_name, #github_div
{

    display: table-cell;
    vertical-align: middle;
}

#dev_name, #github_div
{
    float: left;
    width: 100%;
}

#dev_name, #catchphrase
{
    font-size: 3em;
    font-weight: bold;
    color: white;
}

#div_logo
{
    float: left;
}

#logo_python
{
    width: 8em;
    height: 8em;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 1em;
    left: 1em;
}

#logo_github
{
    width: 2em;
    height: 2em;
}

#url_github
{
    font-size: 3em;
}

#submit_button
{
    font-size: 2em;
}

#form_input
{
    font-size: 2em;
    width: 50%;
}

#map
{
    height: 40em;
}

#loader {
    border: 2em solid ghostwhite;
    border-top: 2em solid teal;
    border-bottom: 2em solid teal;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 44%;
    left: 44%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }