body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

#global
{
    width :100% ;
    margin :auto ;
    padding :0px ;
    background-color: pink;
}

header, footer
{
    background-color: teal;
    width: 100%;
    text-align: center;
    position: fixed;
    height: 10em;
}

#main
{
    padding-top: 10em;
}


#userform
{
    float: right;
    background-color: green;
    width: 100%;
    text-align: center;
}

#grandpy
{
    background-color: yellow;
}

#answer
{
    font-weight: bold;
    font-size: 2em;
}

#story
{
    background-color: cyan;
    font-size: 2em;
}

#map_area
{
    background-color: blue;
}

footer
{
    float: right;
    position: fixed;
    bottom: 0;
}

@media(max-width: 767px)
{
    #grandpy
    {
        width: 100%;
    }

    #map_area
    {
        width: 100%;
    }
}

@media(min-width: 1388px)
{
    #grandpy
    {
        width: 50%;
        float: left;
    }

    #map_area
    {
        width: 50%;
        float: left;
    }
}

#catchphrase, #dev_name
{
    font-size: 3em;
    font-weight: bold;
    color: white;
}

#logo_python
{
    width: 8em;
    height: 8em;
    float: left;
}

#logo_github
{
    width: 2em;
    height: 2em;
}

#url_github
{
    font-size: 3em;
}

#form_label
{
    font-size: 2em;
}

#form_input
{
    font-size: 2em;
    width: 33%;
}

#map
{
    height: 50%;
}