html
{
    height: 100%;
}

body
{
    height: 100%;
    min-height: 100%;
    position: relative;
    background-color: violet;
}

header
{
    background-color: darkcyan;
    height: 10em;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.logo_python
{
    width: 8em;
    height: 8em;
    float: left;
    position: relative; left: 1em;
}

.catchphrase
{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
}


footer
{
    background-color: darkcyan;
    height: 10em;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
}

.logo_github
{
    width: 2em;
    height: 2em;
}

.url_github
{
    font-size: 2em;
}

.dev_name
{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

section
{
    background-color: yellow;
    width: 100%;
    top: 10em;
    left: 0;
    bottom: 10em;
    position: fixed;
    text-align: center;
}

.form_label
{
    font-size: 2em;
}

.form_input
{
    font-size: 2em;
    width: 20em;
}