html
{
    height: 100%;
}

body
{
    height: 100%;
    min-height: 100%;
    position: relative;
    background-color: violet;
}

header
{
    background-color: darkcyan;
    height: 10em;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.logo_python
{
    width: 8em;
    height: 8em;
    float: left;
    position: relative; left: 1em;
}

.catchphrase
{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.form_canva
{
    background-color: green;
    top: 10em;
    height: 7em;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
}

footer
{
    background-color: darkcyan;
    height: 10em;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
}

.logo_github
{
    width: 2em;
    height: 2em;
}

.url_github
{
    font-size: 2em;
}

.dev_name
{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.form_label
{
    font-size: 2em;
}

.form_input
{
    font-size: 2em;
    width: 20em;
}

.map_canva
{
    background-color: blue;
    height: 22em;
    width: 32em;
    top: 17em;
    right: 0em;
    position: fixed;
}
#map
{
    height: 20em;
    width: 30em;
    top: 1em;
    left: 1em;
    position: fixed;
}

